body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #00163E;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

